/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

/*TR.selected TD*/
.selected  
{  
   background-color: grey;  
   /*color:red; */ 
}

.columnHeader{
	color: green;
	font-weight:bold;
	}

.bodyone{
background-color:#FFAAAA/*#b0c400*/;
}

.outerFrame{
	background-color:#FFAAAA;
}

/*
.enterButton {
  display: block;
  font-size: 44pt;
}
*/
.valueButton{/*Makes the button render better*/
	/*font-size: 32pt;*/
}

.correlatiionListOK{/*Makes the button render better*/
}

.jointGrid{
	font-size: 9pt;
}

.addEvent{/*Makes the button render better*/
}

.showMarginal{/*Makes the button render better*/
}
.currentStep{
	color:#0000FF;
}
.lowerBound{
	text-align:right;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}
